{
	"useTabs": true,
	"tabWidth": 1,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"arrowParens": "always",
	"endOfLine": "lf",
	"bracketSpacing": true,
	"jsxSingleQuote": false
}
