{
	"bracketSameLine": true,
	"bracketSpacing": false,
	"proseWrap": "never",
	"quoteProps": "preserve",
	"trailingComma": "all",
	"useTabs": true,
	"endOfLine": "auto",
	"semi": false,
	"singleAttributePerLine": true,
	"printWidth": 100
}
